.main{
  height: fit-content;
}
.header{
  position: fixed;
  top: 0px;
  z-index: 300;
  margin: 0px 20px;
  padding: 10px;
  width: calc(100vw - 60px);
  height: 50px;
  background-color: #252323;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-group{
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-brand{
  height: 45px;
}
.header-title{
  font-size: 35px;
}