:root {
  --text: #fbfbff;
  --text-dark: #08060d;
  --bg: #2d3142;
  --accent: #386fa4;

  --success-color: #80ed99;
  --warning-color: #ffc857;
  --danger-color: #bf0603;
  --disable-color: #70798c; 

  --font: "DM Sans", sans-serif;
}

#root {
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font);
  background-color: var(--bg);
  background-image: url("https://www.transparenttextures.com/patterns/classy-fabric.png");
}

h1,
h2 {
  font-family: var(--font);
  font-weight: 500;
  color: var(--text);
}

p {
  margin: 0;
  color: var(--text);
}

button.btn{
  background-color: var(--accent);
  color: var(--text);
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-size: 10px;
}

button.btn.disable{
  background-color: var(--disable-color);
}

input.input{
  min-width: 300px;
  width: auto;
  height: 30px;
  border: 1px solid var(--disable-color);
}

span.material-symbols-outlined{
  font-size: 20px;
}

.large{
  width: 100%;
}